SPOTIFY_CLIENT_ID=buraya_spotify_client_id
SPOTIFY_CLIENT_SECRET=buraya_spotify_client_secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
YT_CLIENT_ID=buraya_google_client_id
YT_CLIENT_SECRET=buraya_google_client_secret
TELEGRAM_TOKEN=buraya_telegram_bot_token
TELEGRAM_CHAT_ID=buraya_chat_id
